# Node modules
node_modules/

# Output of `next export`
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
.pnp/
.pnp.js

# Build output
.next/
dist/

# dotenv environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# Netlify specific
.netlify/
netlify.toml

# OS junk
Thumbs.db
